<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <%- myCss.style %>
</head>
<body> 
  <div class="container">

    <div class="page-title">
      <h3><%= page %></h3>
    </div>

    <div class="content-container">

      <div class="form-container">

        <form action='/api/findCard' method='POST'>

          <div class="form-elements">

            <div class="form-element">
              <label>Enter Card Name</label>
              <input type="text" id="cardNameId" name="cardName" placeholder="Card Name">
            </div>
      
            <div class="form-element">
                <label class="form-check-label" >MTG</label>
                <input type="checkbox" name="optionMTG" value="MTG">
            </div>
      
            <div class="form-element">
                <label class="form-check-label" >YUGIOH</label>
                <input type="checkbox" name="optionYUGIOH" value="YUGIOH">
            </div>

          </div>

          <button class="form-element" type="submit" class="btn btn-primary">Submit</button>

        </form>

      </div>

      <%if (cardFound) { %>

      <div class="result-container">

        <div class="image-container">

          <img src="<%= imageUrl %>">

        </div>

        <div class="buttons-container">
        
          <form action='/api/buyCard' method="POST">
            <button type="submit" class="btn btn-primary">BUY</button>
          </form>
    
          <form action='/api/sellCard' method="POST">
            <button type="submit" class="btn btn-primary">SELL</button>
          </form>
          
        </div>

      </div>

      <% } %>  

    </div>

  </div>

</body>
<% include partials/script %>
</html>