<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>   
  <h3><%= page %></h3><br>

  <form action='/api/findCard' method='POST'>
    <div class="form-group">
        <label>Enter Card Name</label>
        <input type="text" id="cardNameId" name="cardName" placeholder="Card Name">
    </div>

    <div class="form-group form-check">
        <label class="form-check-label" >MTG</label>
        <input type="checkbox" name="optionMTG" value="MTG">
    </div>

    <div class="form-group form-check">
        <label class="form-check-label" >YUGIOH</label>
        <input type="checkbox" name="optionYUGIOH" value="YUGIOH">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <img src="<%= imageUrl %>">
</body>
<% include partials/script %>
</html>