<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
  <div class="container-fluid bg-3 text-center">    
      <h3><%= page %></h3><br>

    <form action='/api/findCard' method='POST'>
        <input type="text" name="cardName" placeholder="Card Name">
        <button type="submit">Find the Card</button>
    </form>

    <img src="<%= imageUrl %>">
    
  </div>
</body>
<% include partials/script %>
</html>