<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>

  <div class="container">

    <div class="col">
      
      <h3><%= page %> - you are logged as <%= username %></h3>
      <br>

      <div>
          <div>
            <a href="/findcardView">Find a Card</a>
          </div>
          <div> 
            <a href="/sellcardView">Sell a Card</a>
          </div>
      </div>

    </div>
    
  </div>

  
  
</body>
<% include partials/script %>
</html>