<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <%- myCss.style %>
</head>
<body>

    <div class="panels-container">

      <a href="/findcardView" class="panel">
        <div>Find a Card</div>
      </a>

      <a href="/sellcardView" class="panel">
        <div>Open Shop</div>
      </a>
      
    </div>

</body>
<% include partials/script %>
</html>