<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <%- myCss.style %>

</head>
<body>

  <div class="container">

    <div class="content-container">

      <div class="form-container">

        <div>CARDSWAP</div>

        <form action='/api/login' method='POST'>
  
          <div class="form-elements">
  
            <div class="form-element">
              <label>Enter Username</label>
              <input type="text" id="username" name="username" placeholder="Username">
            </div>
      
            <div class="form-element">
              <label>Enter Password</label>
              <input type="text" id="password" name="password" placeholder="Password">
            </div>
  
          </div>
  
          <button class="form-element" type="submit" class="btn btn-primary">Submit</button>
  
        </form>
  
      </div>

    </div>
    
  </div>

</body>
<% include partials/script %>
</html>