<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <%- myCss.style %>

</head>
<body>

  <div class="container-fluid">

    <div class="col">

      <div class="row">
        <h3 class="redTitle"><%= page %></h3>
        <br>
      </div>

      <div class="row">

        <form action='/api/login' method='POST'>
          <div class="form-group">
              <label>Enter Username</label>
              <input type="text" id="username" name="username" placeholder="Username">
          </div>
          <div class="form-group">
              <label>Enter Password</label>
              <input type="text" id="password" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>

    </div>

  </div>

</body>
<% include partials/script %>
</html>